/* Form.css */

.container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  select.input {
    height: 35px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
  }
  
  .signInLink {
    margin-top: 20px;
    font-size: 0.875rem;
  }
  
  .signInLink a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .signInLink a:hover {
    text-decoration: underline;
  }
  